---
import Layout from '../layouts/Layout.astro';
import ProjectsList from '../components/projects.astro';
---

<Layout title="Projects">
	<h1 class="fade-transition show">Projects</h1>
	<p class="fade-transition show">Here you can find a list of my projects.</p>
	<ProjectsList />
</Layout>
