---
title: "skibidi toilet"
---

<div id="container" class="fade-transition show">
	<main>
		<section id="hero">
			<h1>
				Hi, I'm Saumil
			</h1>
			<p>
				I do Swift.
			</p>
		</section>
	</main>
</div>

<style>
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 16px;
	}

	h1 {
		font-size: 24px;
		margin-top: 0.25em;
	}

	p {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}
</style>
